#avatar {
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  height: 100px;
  width: 100px;
  right: 10px;
  bottom: 24px;
  box-shadow: 10px 10px 22px -8px rgba(214,211,214,0.73);
}
